*{
    margin: 0;
    padding: 0;
}

:root{
    --principal-color: #FFFFFF;
    --secundario-color: #C0C0C0;
    --button-azul: #167BF7;
    --fundo-color: #00030C;
}

body{
    background-color: var(--fundo-color);
    color: var(--principal-color);
}


